<%- include ("./partials/cabecera") %> 
<%- include ("./partials/navbar") %> 

<br>
<h1>Ingreso de Autores</h1>
<br><br>
<form action="/agregarautor" method="post">
    Nombre:
    <input type="text" name="nombre" id="">
    <br><br>
    Fecha Nacimiento:
    <input type="date" name="fechaNacimiento" id="">
    <br><br>
    Nacionalidad:
    <input type="text" name="Nacionalidad" id="">
    <br><br>
    <input type="submit" value="Enviar">
</form>


<%- include("./partials/footer")%>
<%- include ("./partials/pie") %> 